
---
import Layout from "../layouts/layout.astro";

---
<Layout>
    

<p class="text-gray-800 justify-center">
    For any queries, please email 
    <a href="mailto:contact-esim@fossee.in" class="text-blue-600 underline hover:text-blue-800">
      contact-esim@fossee.in
    </a>
  </p>
  </Layout>
  