---
import Layout from "../layouts/layout.astro";
import esim from "../images/webtop.png";
import Homebody from "../components/homebody.astro";
---

<Layout>
  <!-- ✅ Body with bg FBE7A1 -->
  <!-- <main class="min-h-screen bg-[#ffff]"> -->

    <Homebody> 
      
    </Homebody>

  <!-- </main> -->
</Layout>
