---
import Layout from "../layouts/layout.astro";
import esim from "../images/webtop.png";
---

<Layout>
  <!-- ✅ Body with bg FBE7A1 -->
  <main class="min-h-screen bg-[#ffff]">

    <!-- ✅ White section only for image -->
    <section class="flex flex-col items-center justify-center text-center py-10 bg-white mt-32">   
         <!-- <h1 class="mb-6">
        <span class="block text-4xl font-extrabold text-red-700">
          eSim Marathon
        </span>
        <span class="block text-lg font-bold text-red-600 mt-2">
           Circuit Design & Simulation with IHP SG13G2
        </span>
      </h1> -->
    
      <!-- <div class="flex justify-center px-2">
        <a href="https://www.esim.fossee.in/" target="_blank">
          <img 
            src={esim.src} 
            alt="eSim" 
            decoding="async" 
            class="max-w-[700px] mx-auto"
          />
        </a>
      </div>  -->
    </section>

  </main>
</Layout>
