---
import Layout from "../layouts/layout.astro";
---

<Layout>
  <main class="min-h-screen text-gray-800 flex justify-center font-[Montserrat]">
    <section class="max-w-4xl mx-auto px-6 py-12">
      <h2 class="text-2xl md:text-3xl font-bold mb-6 text-center">Resources</h2>

      <ul class="space-y-4 list-disc list-inside text-lg leading-relaxed">
        <li>
          To know about <strong>eSim</strong>, visit: 
          <a href="https://esim.fossee.in" target="_blank" class="text-blue-600 hover:underline">
            https://esim.fossee.in
          </a>
        </li>
        <li>
          You can refer to this page to access the resources of eSim: 
          <a href="https://esim.fossee.in/resources" target="_blank" class="text-blue-600 hover:underline">
            https://esim.fossee.in/resources
          </a>
        </li>
        <li>
          To download eSim, visit: 
          <a href="https://esim.fossee.in/downloads" target="_blank" class="text-blue-600 hover:underline">
            https://esim.fossee.in/downloads
          </a>
        </li>
        <li>
          To learn eSim, use our spoken tutorials available at this link: 
          <a href="http://spoken-tutorial.org/tutorial-search/?search_foss=eSim&search_language=English" 
          target="_blank" class="text-blue-600 hover:underline">
            Spoken Tutorials
          </a>
        </li>
 <li class="mt-4 text-gray-600 ">
        Rest of the resources will be given in the process of Marathon.
        
      </li>
    </ul>

    </section>
  </main>
</Layout>
