---
import Layout from "../layouts/layout.astro";
---

<Layout>




 
  <div class="text-center mt-2  fade-in">
    
                <h2 class="text-3xl font-bold text-indigo-600 mb-4"> Results</h2>
                <div class="w-20 h-1 bg-gradient-to-r from-blue-500 to-purple-500 mx-auto rounded-full"></div>
        <br />
  
<div class=" text-xl text-base font-[Montserrat], sans-serif">
<div class="tabs">
  <div class="tab active" data-tab="0">Outstanding</div>
  <div class="tab" data-tab="1">Excellent</div>
  <div class="tab" data-tab="2">Very Good</div>
    <div class="tab" data-tab="3"> Good</div>

</div> 

<!-- tab 0 --Outstanding -->

<div class="tab-content">
  <div class="tab-panel active" id="tab-0">
    <div class="overflow-x mt-5 pt-5 pb-5 mb-5">



      <table class="table-auto w-full overflow-scroll text-xl rtl:text-right border border-spacing-2 ">
          <thead class="text-xl">
            <th>Sr.No</th>
           <th>Name</th>
<th>Organisation</th>
<th>Circuit Name</th>
<th>GitHub Link</th>
    </thead>
          <tbody class="border border-slate-400 pl-2 m-2">
            <tr>
<td>1</td>
<td>Boddu Ajay</td>
<td>Rajiv Gandhi University of Knowledge Technologies, Nuzvid</td>
<td>A Low Power Dynamic Bitwidth-Adaptive Multiply Accumulate Unit for TinyML Accelerators using eSim</td>
<td><a href="https://github.com/ajayboddu-2006/eSim Marathon 2025.git" target="_blank">View Repo</a></td>
</tr>
<tr>
<td>2</td>
<td>Ajay G Nayak</td>
<td>NXP Semiconductors</td>
<td>Design and Analysis of a Gilbert Cell Mixer</td>
<td><a href="https://github.com/AJ-221/Gilbert-Cell-Mixer.git" target="_blank">View Repo</a></td>

</tr>
<tr>
<td>3</td>
<td>Vipul Sharma</td>
<td>NIT Kurukshetra</td>
<td>Single Stage Common SourceCascode LNA Design at 1.5 GHz</td>
<td><a href="https://github.com/engrvip123/eSim marathon IITB" target="_blank">View Repo</a></td>

</tr>

          
</tbody>
</table>
  </div>
      </div>
<!---------------Tab-1  Excellent ------------------->
    <div class="tab-panel" id="tab-1">
       <div class="overflow-x mt-5 pt-5 pb-5 mb-5">
<table class="table-auto w-full overflow-scroll text-xl rtl:text-right border border-spacing-2 ">
          <thead class="text-xl">
            <th>Sr.No</th>
           <th>Name</th>
<th>Organisation</th>
<th>Circuit Name</th>
<th>GitHub Link</th>
    </thead>
        
<tr>
<td>1</td>
<td>Ashok M</td>
<td>Rajalakshmi Institute of Technology</td>
<td>Simulation of Quantum Circuits to Detect Water Traces in Post-War Zones</td>
<td><a href="https://github.com/ashokmuruga/esim2025" target="_blank">View Repo</a></td>
</tr>
<tr>
<td>2</td>
<td>Kumar Biswajit Rath</td>
<td>National Institute of Technology Rourkela</td>
<td>Simulation and Performance Evaluation of a Folded Cascode Op-Amp in eSim Environment</td>
<td>
<a href="https://github.com/kumarbiswajitrath/-Simulation-and-Performance-Evaluation-of-a-Folded-Cascode-Op-Amp-in-eSim-Environment-" target="_blank">
    View Repo</a>
</td>
</tr>
<tr>
<td>3</td>
<td>Chinmaya Sharma</td>
<td>Indraprastha Institute of Information Technology Delhi</td>
<td>25% Duty Cycle Clock Generator with 50% frequency using eSim</td>
<td><a href="https://github.com/chinmaya24163/duty_cycle" target="_blank">View Repo</a></td>
</tr>
<tr>
<td>4</td>
<td>Chirag Chiranjeevi</td>
<td>Manipal Institute of Technology</td>
<td>Design and Simulation of a 180nm CMOS Single-Stage Differential Pair</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>5</td>
<td>Digambar praksh wagholika</td>
<td>Shri Guru Gobind Singhji Institute of Engineering and Technology, Nanded</td>
<td>12V Battery Charger With Automatic Cut-Off</td>
<td><a href="https://github.com/Diguxyz/12vbatterychargerwith-automatic_cutoff.git" target="_blank"> View Repo</a></td>
</tr>
<tr>
<td>6</td>
<td>Nagaraj Venkatesh Reddy</td>
<td>Technische Universität Dresden</td>
<td>Bandgap Reference in BiCMOS Process</td>
<td><a href="https://github.com/Knavere29/Bandgap-Reference-Circuit" target="_blank">View Repo</a></td>
</tr>
<tr>
<td>7</td>
<td>Neeraj Rajesh Piralkar</td>
<td>COEP Technological University</td>
<td>5-Transistor CMOS Operational Transconductance Amplifier (OTA)</td>
<td><a href="https://github.com/neeraj17-p/OTA_IITB_esim_Marathon" target="_blank">View Repo</a></td>
</tr>
<tr>
<td>8</td>
<td>Om Hajare</td>
<td>Indian Institute of Information Technology, Nagpur</td>
<td>Current Mirror Using eSim IHP OpenPDK</td>
<td><a href="https://github.com/Om-Hajare/Current-Mirror-using-eSim" target="_blank">View Repo</a></td>
</tr>
<tr>
<td>9</td>
<td>Satyajeet Padhy</td>
<td>National Institute of Technology, Rourkela</td>
<td>8 - BIT ALU</td>
<td><a href="https://github.com/padhysatyajeet/8-Bit-ALU" target="_blank">View Repo</a></td>
</tr>
<tr>
<td>10</td>
<td>Priyanka</td>
<td>Dronacharya Group of Institutions</td>
<td>A Highly Linear Low Power Envelop Detector</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>11</td>
<td>Rithiv Krishna P</td>
<td>Sri Eshwar College of Engineering</td>
<td>Buck Converter Using Esim</td>
<td><a href="https://github.com/rithivkrishna/fossee-marathon" target="_blank">View Repo</a></td>
</tr>
<tr>
<td>12</td>
<td>Rupawaani K</td>
<td>Sri Manakula Vinayagar Engineering College</td>
<td>Smart Energy Theft Detection and Prevention System</td>
<td><a href="https://github.com/krupawaani-cmd/Smart-Energy-Theft-Detection-and-" target="_blank">View Repo</a></td>
</tr>
<tr>
<td>13</td>
<td>Sana</td>
<td>BVRIT College of Engineering for Women</td>
<td>Neuromorphic Circuit Design: Integrate-and-Fire Neuron with STDP Synapse</td>
<td><a href="https://github.com/sana20041/NeuromorphicNeuron_eSim" target="_blank">View Repo</a></td>
</tr>
<tr>
<td>14</td>
<td>Shrutika Sunil Wadibhasme</td>
<td>Yashwantrao Chavhan college of Engineering</td>
<td>Full Subtractor Using Nand Gate</td>
<td><a href="https://github.com/ShrutikaWADIBHASME/eSimproject" target="_blank">View Repo</a></td>
</tr>
<tr>
<td>15</td>
<td>Jyotsana Singh</td>
<td>Madan Mohan Malaviya University of Technology</td>
<td>Single Phase Full Bridge Inverter With RL Load</td>
<td><a href="https://github.com/jyotsana224/Single_phase_full_bridge_inverter_with_RL_load" target="_blank">View Repo</a></td>
</tr>
</tbody>
</table>
</div>
</div>

<!-- -Tab 2  Very Good -->
  <div class="tab-panel " id="tab-2">
    <div class="overflow-x mt-5 pt-5 pb-5 mb-5">
<table class="table-auto w-full overflow-scroll text-xl rtl:text-right border border-spacing-2 ">
          <thead class="text-xl">
            <th>Sr.No</th>
           <th>Name</th>
<th>Organisation</th>
<th>Circuit Name</th>
<th>GitHub Link</th>
    </thead>
          <tbody class="border border-slate-400 pl-2 m-2">
<tr>
<td>1</td>
<td>Catherin Jenira I</td>
<td>Rajalakshmi Institute of Technology</td>
<td>8-Input AND Gate Implementation Using 2-Input AND Gates</td>
<td><a href="https://github.com/catherinjenira/esimrep/" target="_blank">View Repo</a></td>
</tr>
<tr>
<td>2</td>
<td>Bellana Venkata chaitanya</td>
<td>RGUKT</td>
<td>Design of Single Precision Floating Point Unit Using eSim</td>
<td><a href="https://github.com/chaitubellana-droid/FPU%20esim" target="_blank"> View Repo</a></td>
</tr>
<tr>
<td>3</td>
<td>Sayyam vitalkar</td>
<td>Yeshwantrao Chavan College Of Engineering, Nagpur</td>
<td>Full Adder Using CMOS</td>
<td><a href="https://github.com/sayyamvitalkar123-droid/eSimproject" target="_blank">View Repo</a></td>
</tr>
<tr>
<td>4</td>
<td>T.Senthil Kumar</td>
<td>Karpagam Academy of Higher Education</td>
<td>Design of D Flip Flop Using Cmos Logic</td>
<td><a href="https://github.com/senthilkumarthiyagarajan-jpg/D-Flip-Flop-" target="_blank">View Repo</a></td>
</tr>
</tbody>
</table>
</div>
  </div>
 <!--Tab 3 Good  -->

  <div class="tab-panel " id="tab-3">
    <div class="overflow-x mt-5 pt-5 pb-5 mb-5">



      <table class="table-auto w-full overflow-scroll text-xl rtl:text-right border border-spacing-2 ">
          <thead class="text-xl">
            <th>Sr.No</th>
           <th>Name</th>
<th>Organisation</th>
<th>Circuit Name</th>
<th>GitHub Link</th>
    </thead>
          <tbody class="border border-slate-400 pl-2 m-2">

<tr>
<td>1</td>
<td>Harnoor Singh Khurana</td>
<td>Thapar Institute of technology, Patiala</td>
<td>Monostable Multivibrator using NE555 and Op-Amp</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>2</td>
<td>Mohd Maaz Quraishi</td>
<td>Jamia Millia Islamia</td>
<td>16-bit CORDIC Circuit Design and Simulation</td>
<td><a href="https://github.com/NavyStudent2893/16-bit-CORDIC-Circuit" target="_blank">View Repo</a></td>
</tr>
<tr>
<td>3</td>
<td>Sanket Kar</td>
<td>Dr.B.C.Roy Engineering College, Durgapur</td>
<td> Ring Oscillation</td>
<td><a href="https://github.com/coder24072005/RingOscillator_eSim/blob/main/README.md" target="_blank">View Repo</a></td>
</tr>
</tbody>
</table>
</div>
</div>

</div>
</div>
</Main>
<style>
    table{
        box-shadow: none;
        background-color:white;
        transition: 0.3s;
    }
/* --- THEAD BLUE BACKGROUND --- */
table thead {
    background: #365dc7;   /* Indigo-800 */
    color: white;
}

table thead th {
    padding: 10px;
    font-weight: bold;
}


/* --- SPACE AFTER TITLE AND BEFORE TABS --- */
.results-title {
    margin-bottom: 40px; /* Space below 'Results' text */
}

.tabs {
    margin-bottom: 10px; /* Space below tabs, before table */
}

    table:hover{
        
        box-shadow: 0px 5px 58px 0px rgba(193, 197, 197, 0.7);
     
        /* scale: 1.1; */
    }
a {
  /* background:; */
  color: rgb(44, 39, 42);
  text-decoration: none;
  /* text-transform: uppercase; */
  padding-bottom: 3px;
  margin-bottom: 3px;
}

a:hover {
  /* background-color: #8f0dfa; */
  text-decoration:underline;
  color: rgb(26, 60, 211);
  
}

a:active {
  background-color: #567eeb;
  
}

/* a:visited {
  background-color: #9dff6f;
} */
tr, th,td{
    border: 2px solid rgb(43, 80, 182);
    padding: 5px;
}
.tabs {
    display: flex;
    cursor: pointer;
  }

  .tab {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-bottom: none;
    background: #f1f1f1;
  }
  .tab:hover {
    background: #7c88f1;
  }

  .tab.active {
    background: #0f33d4;
    color:white;
    font-weight: bold;
  }

  .tab-content {
    border: 1px solid #ccc;
    padding: 20px;
    background: #fff;
  }

  .tab-content > div {
    display: none;
  }

  .tab-content > div.active {
    display: block;
  }
  .tab-wrapper {
  margin-top: 90px; /* Adjust as needed */
}

  
</style>
<script>
  document.querySelectorAll('.tab').forEach(tab => {
    tab.addEventListener('click', () => {
      const activeTab = document.querySelector('.tab.active');
      const activePanel = document.querySelector('.tab-panel.active');
      
      if (activeTab) {
        activeTab.classList.remove('active');
      }

      if (activePanel) {
        activePanel.classList.remove('active');
      }

      tab.classList.add('active');
      const tabIndex = tab.getAttribute('data-tab');
      document.getElementById(`tab-${tabIndex}`).classList.add('active');
    });
  });
</script>