---

import Layout from "../layouts/layout.astro";

---

<Layout>
<section class="max-w-5xl mx-auto px-4 py-8 font-[Montserrat]">
    <h2 class="text-3xl font-bold text-gray-800 mb-6">Rules and Regulations</h2>
    
    <ul class="list-disc list-inside text-gray-700 space-y-3 text-lg">
      <li>eSim and its associated software are the official software for this Marathon.</li>
      <li>Circuit design, simulation, and submission should be done using eSim ONLY. Submissions using any other software will be immediately disqualified.</li>
      <li>This marathon is open ONLY to individual participation. Team or group registration/submissions will not be accepted.</li>
      <li>Any participant found to be indulging in any form of malpractice will be immediately disqualified.</li>
      <li>The decision of the review committee and the organisers in declaring the results will be final. No queries in this regard will be entertained.</li>
      <li>All source code/design leveraged by participants must have been released under an OSI-approved open-source licence.</li>
      <li>All submitted work will be released under GPLv3 (GNU Public Licence).</li>
    </ul>
  </section>
  </Layout>