---
import Layout from './layout.astro';   // ✅ capitalized
import '../css/custom.css';
// import esim from "../images/webtop.png";
---

<Layout>
  <h1 class="text-center text-4xl font-bold mb-8">
    eSim Marathon - Circuit Design & Simulation with IHP SG13G2
  </h1>

  <!-- <div class="flex justify-center px-2 bg-white">
    <a href="https://www.esim.fossee.in/" target="_blank">
      <img 
        src={esim.src} 
        alt="esim" 
        decoding="async" 
        class="max-w-[500px] mx-auto"
      />
    </a>
  </div> -->
</Layout>
